{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="jumbotron jumbotron-fluid" style="background-image: url(http://3.bp.blogspot.com/-ZFkKEc_xmW0/U9F7oIOOIBI/AAAAAAAAFtY/ZfKI0K7lPnU/s1600/Brick+wall+building+texture+ver+7.jpg)">
  <div class="container">
    <h1 class="display-4" style="color:white">Bem vindo ao workpee</h1>
    <p class="lead" style="color:white">Plataforma de compra e venda para o mundo maker.</p>
  </div>
</div>
{% include 'workpee/menus.html' %}


<div class="container">
    <div class="card mb-3">
  <img class="card-img-top" src="https://img.freepik.com/free-vector/team-builders_131590-244.jpg?w=2000" alt="Imagem de capa do card" style="heigth:100px">
  <div class="card-body">
    <h5 class="card-title">Aproveite da nossa plataforma de compras</h5>
    <p class="card-text">Com a Workpee você pode comprar suas peças da maneira que você desejar e falando diretamente com a pessoa que irá produzila. Uma plataforma simple de comunicação de ponta a ponta.</p>
    <p class="card-text"><small class="text-muted"></small></p>
  </div>
</div>
    
</div>

{% endblock content %}




