{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">{{loja.nome}}</h1>
        <p class="lead">{{loja.descricao}}</p>
    </div>
    <div class="text-right">
        <a href="{% url 'acc:add_produto' %}" class="btn btn-primary mt-2">Adicionar produto</a>
    </div>

    <div class="mt-5 mb-3 row">
        {% for produto in produtos %}
        <div class="col-4 mb-4">
            <div class="card">
                <div class="card-header">
                    <h6>{{ produto.nome }}<span class="ml-2 badge badge-danger">novo</span></h6>
                    <div class="text-secondary">R$: {{produto.preco}}</div>
                </div>
                <div class="card-body">
                    <div class="rounded border"
                        style="background-image: url(/media/{{ produto.imagem }}); width: 100%; height: 300px; background-size: cover; background-position: center;">
                    </div>
                    <a href="{% url 'acc:produto' produto.id %}" class="btn btn-primary mt-2 stretched-link">Ver
                        mais</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock content %}